*{
    margin:0;
    padding:0;
}
body{
    background: url(../src/imagem/baner2.png)no-repeat;
   
}
label{
    color:#000;
    font-size: 0.8em;
    padding:10px;
    margin:10px;

}
input{
    border-radius:  9px;
    border:none;
    padding:10px;
    margin:10px;
    background:rgba(255,255,255,0.9);
}
form{
    width: 50vw; 
    margin-left : 25vw;
}
@media (max-width: 600px)
{
  .facet_sidebar
   {
    display: none;
   }
}
