html {
    height: 100vh;
}

body {
    background:url(./imagem/baner2.png)no-repeat;
    font-family: sans-serif;
    width: 60vw;
    margin: 0 20vw;
    text-align: center;
    padding: 1em 0;
    height: 100vh;
}
main{
    background:rgba(255,255,255,0.07);
    width:100%;
    text-align: center;
}
label{
    color:#000;
    font-size: 0.8em;
    padding:0;
    margin:0;
text-align: center;

}
input{
    border-radius:  9px;
    border:none;
    padding:10px 2px 5px 0;
    margin:20px;
	text-align: center;
}
.porcentagem
{
    float:right;
    margin-right:260px;
    padding:0 0 30px 0;
   
}
#recebe
{
    float:left;
    margin-left:260px; 
    padding:0 0 30px 0;
   
}

footer
{
    clear:both;
    padding:20px 0 30px 0;
   
}
section{
    clear:both;
}
a{
    text-decoration:none;
    color:#000 ;
    
}
button{
    border-radius:  50px;
    border:none;
    
}

