html {
    height: 100vh;
}

body {
    background:#23272A;
    font-family: sans-serif;
    width: 60vw;
    margin: 0 20vw;
    text-align: center;
    padding: 1em 0;
    height: 100vh;
    
}
main{
    
    width:100%;
    text-align: center;
}
label{
    color:#fff;
    font-size: 0.8em;
    padding:0;
    margin:0;
text-align: center;

}
input{
    border-radius:  9px;
    border:none;
    padding:10px 2px 5px 0;
    margin:20px;
	text-align: center;
}
.porcentagem
{
    float:right;
    margin-right:260px;
    padding:0 0 30px 0;
   
}
#recebe
{
    float:left;
    margin-left:260px; 
    padding:0 0 30px 0;
   
}

footer
{
    clear:both;
    padding:20px 0 30px 0;
    color:rgb(141, 145, 110);
   
}
section{
    clear:both;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:#000 ;
    
    
}
button{
    border-radius:  10px;
    border:none;
    
    
}
#logo 
{
    width:208px;
    height:100px;
    clear:both;
    background:url(./imagem/logo.png) no-repeat;
    margin: 0 23vw;
    
}

